{extend name="public/base" /}

{block name="body"}
    <div class="main-title">
        <h2>报修</h2>
    </div>
    <form action="{:url()}" method="post" class="form-horizontal" enctype="multipart/form-data">
        <div class="form-item">
            <label class="item-label">业主姓名<span class="check-tips">（用户名会作为确认信息使用）</span></label>
            <div class="controls">
                <input type="text" class="text input-large" name="name" value="{$data.name}">
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">电话<span class="check-tips">（电话号码请注意填写正确）</span></label>
            <div class="controls">
                <input type="number" class="text input-large" name="tel" value="{$data.tel}">
                <input type="hidden" class="text input-large" name="id" value="{$data.id}">
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">内容</label>
            <div class="controls">
                <!--<input type="text" class="text input-large" name="repassword" value="">-->
                <textarea name="content" id="" cols="30" class="input-large" rows="10">{$data.content}</textarea>
            </div>
        </div>
        <input type="file" name="img" />
        <div class="form-item">
            <button class="btn submit-btn ajax-post" id="submit" type="submit" target-form="form-horizontal">确 定</button>
            <button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
        </div>
    </form>
{/block}

{block name="script"}
    <script type="text/javascript">
        //导航高亮
        highlight_subnav('{:url('User/index')}');
    </script>
{/block}
